.aja {
  background-color: #000000;
  border-style: groove;
  border-color: rgb(255, 145, 0);
  padding: 2px;
  margin: auto;
}

.blanco {
  background-color: white;
  color: black;
}
.negro {
  background-color: black;
  color: white;
}
.centro {
  text-align: center;
}

.styleH1 {
  text-align: center;
  letter-spacing: 20px;
  border: solid;
  border-color: gold;
  background-color: bisque;
}
* {
  background-color: rgb(150, 112, 9);
}
